<p>Dear Admin,</p>
<p>Your VerifyID credits are running low. The current credit count is <%= @credits_count %>.</p>
<p>Please top up your credits as soon as possible to avoid any disruptions in the system.</p>

Thanks
